# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
venv/
.venv/
__pycache__/

# Build outputs
dist/
build/

# IDE files
.vscode/
.idea/
.DS_Store

# Environment variables
.env
.env.local
